<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styles2.css">
    <title>Admin Page</title>
</head>
<body>
    <div class="navbar">
        <a href="/post/adminlogout">Logout</a>
    </div>
    <div class="form-container">
        <form action="/post/admin" method="POST">
            <h1>Welcome to admin page</h1>
            {{#if data}}
            <div class="table-content">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Account number</th>
                        <th>Reason</th>
                        <th>Amount</th>
                        <th>Interest</th>
                        <th>Tenure</th>
                        <th>Apply Date</th>
                        <th>Status Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td>{{this.accountno}}</td>
                        <td>{{this.reason}}</td>
                        <td>{{this.amount}}</td>
                        <td>{{this.interest}}</td>
                        <td>{{this.tenure}}</td>
                        <td>{{formatDate this.applyDate}}</td>
                        <td>{{formatDate this.statusDate}}</td>
                        <td class="{{#if_eq this.status "approved"}}correct{{else}}incorrect{{/if_eq}}">{{this.status}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            </div>
            {{else}}
            <p>No data found</p>
            {{/if}}
        </form>
    </div>

</body>
</html>
